.contact {
  height: calc(100vh - 40px);
  width: calc(100vw - 40px);
  background-color: rgba(48, 48, 48, 0.664);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  float: left;
  color: #fff;
  font-weight: 800;
  font-size: 450%;
  margin-top: 15vh;
  width: 70vw;
}

.title span {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  color: transparent;
}

.personal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70vw;
  max-width: 960px;
  margin-top: 5vh;
}

.personal img {
  height: auto;
  max-width: 500px;
  width: 60%;
}

.personal .details {
  color: #fff;
}

.details h3 {
  display: flex;
  justify-content: left;
}

.details span {
  margin-left: 25px;
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 200%;
    text-align: center;
    margin-bottom: 0;
  }
  .personal img {
    height: auto;
    max-width: 500px;
    width: 80%;
    margin-bottom: 35px;
  }
  .title span {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    color: transparent;
  }
  .personal {
    flex-direction: column;
  }
  .details h3 {
    display: flex;
    justify-content: left;
    font-size: 90%;
    text-align: center;
  }
}
