.logo {
  position: absolute;
  top: 4vh;
  left: 0;
  right: 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 2em;
  margin: 0;
  text-align: center;
}

.home {
}

.scroll-container {
  display: flex;

  justify-content: start;
  overflow: auto !important;
}
