.logo {
  position: absolute;
  top: 4vh;
  color: #fff;
  text-transform: uppercase;
  font-size: 2em;
  margin: 0%;
}

.home {
  display: flex;
  align-items: center;
  justify-content: start;
}

.scroll-container {
  display: flex;
  align-items: center;
  justify-content: start;
}
