.projectDiv {
  width: 100vw;
  height: calc(100vh - 40px);
  width: calc(100vw - 40px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.titleDiv {
  position: absolute;
  text-align: center;
  color: #fff;
  margin-top: 10vh;
  z-index: 99;
  height: 500px;
}

.titleDiv .title {
  font-size: 8rem;
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
  color: transparent;
}

.titleDiv .subtitle {
  font-size: 1.8rem;
  margin: 0;
  text-transform: uppercase;
  font-weight: 500;
}

.next,
.prev {
  z-index: 100;
  position: fixed;
  height: 40px;
  width: 40px;
  top: 45vh;
  border-radius: 50px;
  border: 2px solid rgb(255, 255, 255);
  transition: all 0.2s ease-in-out;
}

.prev {
  left: 2vw;
}

.prev .back {
  color: #ffffff;
  margin: 0;
  margin-top: 3px;
  text-align: center;
}

.prev svg {
  transform: scaleX(-1);
  filter: invert();
}

.next {
  right: 2vw;
}

.next:hover,
.prev:hover {
  transform: scale(1.2);
}

/* https://codemyui.com/scroll-icon-animation/ */

.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
}

.icon-scroll {
  width: 40px;
  height: 70px;
  margin-left: -20px;
  top: 85vh;
  box-shadow: inset 0 0 0 2px #fff;
  border-radius: 25px;
}

.icon-scroll:before {
  content: "";
  width: 8px;
  height: 8px;
  background: rgb(255, 255, 255);
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}

@keyframes scroll {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}

@media only screen and (max-width: 600px) {
  .titleDiv {
    position: absolute;
    text-align: center;
    color: #fff;
    margin-top: 20vh;
    z-index: 99;
    height: 500px;
  }
  .titleDiv .title {
    font-size: 3rem;
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: white;
    color: transparent;
  }

  .titleDiv .subtitle {
    font-size: 1.2rem;
    margin: 0;
    text-transform: uppercase;
    font-weight: 500;
  }
  .prev {
    top: 1.5vh;
    transform: scale(0.8);
  }
  .prev .back {
    display: none;
  }

  .icon-scroll {
    transform: scale(0.8);
    top: 80vh;
    box-shadow: inset 0 0 0 2px #fff;
    border-radius: 25px;
  }
}
