.project {
  /*   min-width: 650px;
  max-width: 650px; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.project .projectTitle {
  font-size: 5rem;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
}

.project .active {
  color: white;
}
.project .inactive {
  color: transparent;
}
.project .projectTitle:hover {
  color: white;
}

.project .projectNumber {
  color: #fff;
  margin-bottom: -2.5em;
  margin-left: -1.5rem;
  font-size: 1rem;
  font-weight: 400;
}

.smalls {
  position: relative;
}

.project .projectNew {
  position: absolute;
  color: rgb(255, 0, 0);
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  text-align: right;
  right: -40px;
}

.project .projectCategory {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 110%;
  font-weight: 400;
  margin-top: -5px;
}

.link {
  text-decoration: none;
}
