.project {
  max-width: 600px;
  height: 100vh;
  display: flex;
  margin-left: -30px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.project .projectTitle {
  font-size: 450%;
  max-width: 600px;
  -webkit-text-stroke-width: 1.3px;
  -webkit-text-stroke-color: white;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.project .active {
  color: white;
}
.project .inactive {
  color: transparent;
}
.project .projectTitle:hover {
  color: white;
}

.project .projectNumber {
  color: #fff;
  text-align: left;
  margin-bottom: -2.5em;
  margin-left: -1.5rem;
  font-size: 100%;
  font-weight: 400;
}

.smalls {
  position: relative;
}

.project .projectNew {
  position: absolute;
  color: rgb(255, 0, 0);
  font-size: 100%;
  font-weight: 400;
  margin: 0;
  text-align: right;
  right: -40px;
}

.project .projectCategory {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 110%;
  font-weight: 400;
  margin-top: -5px;
}

.link {
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .project .projectTitle {
    font-size: 200%;
    -webkit-text-stroke-width: 1px;
  }
  .project .projectNew {
    position: absolute;
    color: rgb(255, 0, 0);
    font-size: 50%;
    font-weight: 400;
    right: -20px;
  }
  .project .projectNumber {
    color: #fff;
    margin-bottom: -1.5em;
    margin-left: -1rem;
    font-size: 60%;
    font-weight: 400;
  }
}
