.textInput {
  color: black;
  border: none;
  border-bottom: 1px solid black;
  text-align: center;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  margin: 0 1rem;
}

.textInput:focus {
  outline: none;
}
