.main {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  opacity: 1;
}
.vimeo {
  margin-bottom: 60px;
}

.info {
  max-width: 1260px;
  margin-bottom: 15px;
}
.info h1 {
  margin-right: 6vw;
  width: 80%;
  color: #fff;
  font-size: 2rem;
}
.info p {
  color: rgba(255, 255, 255, 0.671);
}

.detailImage {
  width: 60vw;
  height: auto;
  margin-bottom: 15px;
}

.link {
  color: #fff;
  text-align: center;
  margin: 0;
  margin-bottom: 55px;
}

.link a {
  color: #fff;
}

@media only screen and (max-width: 600px) {
  .main {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    opacity: 1;
  }
  .vimeo {
    margin-bottom: 60px;
  }

  .info {
    display: flex;
    justify-content: left;
    align-items: baseline;
    flex-direction: column;
    margin-bottom: 15px;
    width: calc(100vw - 40px);
  }
  .info h1 {
    margin-right: 6vw;
    width: 100%;
    color: #fff;
    font-size: 1.5rem;
    margin-top: 0;
  }
  .info p {
    color: rgba(255, 255, 255, 0.671);
    margin: 0;
  }
  .detailImage {
    width: calc(100vw - 40px);
    height: auto;
  }
  .link {
    margin-bottom: 70px;
  }
}
