.ProjectNumber {
  position: absolute;
  left: 3vw;
  bottom: 3vh;
  z-index: 99;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
}

svg line {
  stroke: rgb(255, 255, 255);
  stroke-width: 3;
}
