.uploadzoneContainer {
  border: 1px dashed rgb(109, 109, 109);
  border-radius: 12px;
  width: 25rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dragState {
  border-style: dotted;
  background-color: rgba(128, 128, 128, 0.08);
}