.socials {
  position: absolute;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  bottom: 1vh;
  right: 0.5vh;
  width: 70px;
  height: 172px;
  color: #fff;
}

.socials a {
  color: #fff;
}

.socials a:hover {
  transform: scale(1.4);
}
