@import url("https://rsms.me/inter/inter.css");

html,
body,
#root {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
  outline: none;
  width: 100vw;
  height: 100vh;
}

body {
  font-family: "Inter var", sans-serif;
  /* https://codesandbox.io/s/the-three-graces-0n9it?file=/src/styles.css:570-690 */
  cursor: url('https://github.com/chenglou/react-motion/raw/master/demos/demo8-draggable-list/cursor.png') 39 39, auto;
}

.loader{
  font-family: "Inter var", sans-serif;
width: 250px;  
text-align: center;
font-size: 20px;
font-weight: 600;
}

.header{
  position: absolute;
  left: 50px;
  z-index: 99;
}
.header h1{
  font-size: 175px;
  margin: 0;
}
.header h3{
  font-size: 60px;
  margin: 0;
  margin-top: -25px;
  color: black;
}

.info{
  position: absolute;
  left: 50px;
  bottom: 50px;
  z-index: 99;
  display: flex;
}

.info div{
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);
  width: 10vw;
  height: 10vh;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.856);
}

.info div h6{
color: rgb(104, 104, 104);
font-size: 18px;
font-weight: 400;
margin: 0;
}

.info div h3{
  margin: 0;
  margin-top: 15px;
  }

 #leva__root{
    --leva-colors-elevation1: #ffffffa1 !important;
    --leva-colors-elevation2: #ffffffa1 !important;
    --leva-colors-elevation3: #ffffffa1 !important;
    --leva-colors-accent1: #000000 !important;
    --leva-colors-accent2: #000000 !important;
    --leva-colors-accent3: #000000 !important;
    --leva-colors-highlight1: #000000 !important; 
    --leva-colors-highlight2: #000000 !important; 
    --leva-colors-highlight3: #000000 !important; 
    --leva-shadows-level1: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06) !important;
  }


  